@font-face {
    font-family: slabo;
    src: url("/fonts/Slabo27px-Regular.ttf");
}
.header {
  background-color: #f2f2f2;
  padding: 100px;
}
.background {
  /*background*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  /*sizing*/
  height: 100vh;
  width: 100vw;

  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*text*/
  color: black;
}
.button {
  font-size: 150%;
  text-align: center;
  font-family: Slabo, Palatino, Georgia, "Times New Roman", Helvetica;

  -webkit-transition-duration: 0.5s;
  background-color: ff8d3f;
  border-radius: 10px;
  padding: 15px 30px;
  color: white;
  border: none;
  display: inline-block;

  cursor: pointer;
}
.hero-image {
  background-image: url("/images/codeTear1.png");
}
.hero-text h1{
  font-size: 3.5em;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.about-me {
}
.portrait img{
  height: 200px;
  width: 200px;
}
.resumeBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.my-toolbox {
}
.projects {
}
.experience {
}

header {
  background-color: #353c3f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
body {

  text-align: center;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  word-wrap: break-word;
  font-family: Slabo, Palatino, Georgia, "Times New Roman", Helvetica;
}
h1 {
  text-align: center;
  font-size: 200%;
}
h2 {
  color: #3f85ff;
  font-size: 300%;
  line-height: 0.2;
}
article {
  margin-top: 100px;
  margin-bottom: 100px;
}
p {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 125%;
  line-height: 1.5;
}
hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
