.header {
  background-color: #f2f2f2;
  padding: 100px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("mtOlympus.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
body {
  background-color: #f2f2f2;
  word-wrap: break-word;
}
h1 {
  text-align: center;
  font-family: Palatino, Georgia, "Times New Roman", Helvetica;
  font-size: 200%;
}
h2 {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Palatino, Georgia, "Times New Roman", Helvetica;
  color: blue;
}
p {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Palatino, Georgia, "Times New Roman", Helvetica;
}
