.mainTitle {
  width: 100%;
  margin: 0px;
  text-align: left;
  padding-top: calc(30vh - 90px);
  padding-left: 30px
}

.mainTitle p {
  padding: 0%;
  margin: 0%;
  font-size: 60px;
  color: var(--darkestBlue);
}

.contactIcons img{
  padding-right: 5%;
  padding-left: 5%;
  object-fit: contain;
}

.contactIcons a{
  text-decoration:none;
}

.contact {
  padding-top: 20px;
}