@font-face {
    font-family: JosefinSans;
    src: url("/fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: IBM;
    src: url("/fonts/IBMPlexMono-Regular.ttf");
}

:root {
  --darkestBlue: #1F405C;  
}

:root {
  --darkBlue: #3E77A5;  
}

:root {
  --lightBlue: #5C98C8;  
}

:root {
  --lightestBlue: #A6C7E1;  
}

:root {
  --white: #F0F5FA;
}

:root {
  --lightGray: #eeeeee;
}

:root {
  --gray: #C5C5C5;
}

:root {
  --darkGray: #454545;
}

.reveal {
  height: 100vh;
  width: 100vw;
}

.titleName p {
  margin: 0;
  position: absolute;
  font-size: 120px;
  top: 45%;
  left: 50%;
  color: var(--darkestBlue);
  user-select: none;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.subtitles p {
  margin: 0;
  font-size: 32px;
  position: absolute;
  top: 58%;
  left: 50%;
  color: var(--darkBlue);
  transform: translate(-50%, -50%);
  z-index: 1;
  user-select: none;
  transition: 0.3s;
}

.subtitles p:hover {
  color: var(--lightestBlue);
}

.reveal a #about {
  left: 37%;
}

.reveal a #projects {
  left: 49.5%;
}

.reveal a #contact {
  left: 63%;
}

.reveal image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.bug {
  position: absolute;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.reveal h3 {
  margin: 0;
  position: absolute;
  top: 97%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: block;
}

body {
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: var(--white);
  word-wrap: break-word;
  font-family: JosefinSans, Palatino, Georgia, "Times New Roman", Helvetica;
}

h1 {
  text-align: center;
  font-size: 500%;
}

h2 {
  text-align: center;
  font-size: 200%;
}

h3 {
  font-family: IBM, Times; 
}

p {
  font-size: 125%;
  line-height: 1.5;
  margin: 20px;
}
