

/*-------------------vvv HEADER vvv-------------------*/
.header {
  top: 0;
  overflow: hidden;
  background-color: var(--white);
  position: fixed;
  height: 100%;
  width: 30vw;
  text-align: right;
  padding-top: 30vh;
}

.header a {
  margin-top: 500px;
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 25px;
  line-height: 60px;
  border-radius: 4px;
  color: var(--darkestBlue);
}

div#name {
	float: right;
	padding-left: 100%;
	padding-top: 30vh;
	width: 145px;
	margin-right: 20%;
	margin-bottom: 20px;
	font-size: 45px;
	line-height: 40px;
	text-align: center;
	color: var(--lightBlue);
}

#smallName {
	font-size: 24px;
}

.header .links:hover {
  color: var(--lightestBlue);
  transition-duration: .2s;
}

.header .links {
	transition-duration: .2s;
}

.lineSide {
  position: absolute;
  width: 50vw;
  margin-left: 30vw;
}

.otherSide {
  padding-left: 20px;
}

.line {
  position: absolute;
  background-color: var(--darkBlue);
  width: 2px;
  height:100%;
  min-height: 70vh;
  
  margin-top: 30vh;
}

@media screen and (max-width: 1440px) {
  div#name {
	font-size: 3vw;
	float: right;
	margin-right: 5%;
  }
}

/*-------------------^^^ HEADER ^^^-------------------*/