.mainTitle {
  width: 100%;
  margin: 0px;
  text-align: left;
  padding-top: calc(30vh - 90px);
  padding-left: 30px
}

.mainTitle p {
  padding: 0%;
  margin: 0%;
  font-size: 60px;
  color: var(--darkestBlue);
}
/*----------------------------------vvv PROJECTS vvv----------------------------------*/

.allProjects {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  padding-bottom: 10vh;
  text-align:center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  transition-duration: .5s;
  width: 400px;
  min-width: 350px;
  height: 300px;
  display: inline-block;
  text-align: left;
  border-radius: 0px;
  border: 3px solid var(--darkestBlue);
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
}

.project:hover {
  /*box-shadow: 0 0px 16px 0 gray;*/
  transition-duration: 0.3s;
}

/*----------------------------------^^^ PROJECTS ^^^----------------------------------*/
/*----------------------------------vvv CARDS vvv----------------------------------*/

.image {
  display: block;
  width: 400px;
  height: 300px;
  object-fit: cover;
  float: left;
  z-index: 2;
}


.projOver {
  display: block;
  float: right;
  z-index: 3;
  position: absolute; 
  width: 400px;
  height: 300px;
  object-fit: cover;
  opacity: 0;
  transition: .3s ease;
  text-align: center;
  background: rgba(92,152,200,0.5);
  overflow: hidden;
}

.projDesc {
  padding: 50px;
  color: white;
}

.projDesc h1 {
  margin: 0px;
  font-size: 30px;
  line-height: 60px;
}

.projDesc p {
  margin: 0px;
  font-size: 20px;
  line-height: 30px;
}


.project:hover .projOver {
  opacity: 1;
}

.project:hover .image {
  filter: blur(8px);
}

/*----------------------------------^^^ CARDS ^^^----------------------------------*/
